anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
attrs 
backcall 
beautifulsoup4 
bleach 
cachetools==5.3.1
certifi==2023.7.22
cffi 
charset-normalizer==3.2.0
colorama 
comm 
debugpy 
decorator 
defusedxml 
entrypoints
et-xmlfile==1.1.0
exceptiongroup 
executing 
fastjsonschema 
google-api-core==2.12.0
google-auth==2.23.1
google-cloud-core==2.3.3
google-cloud-documentai==2.20.0
google-cloud-translate==3.12.0
googleapis-common-protos==1.60.0
grpcio==1.58.0
grpcio-status==1.58.0
idna 
ipykernel 
ipython 
ipython-genutils 
jedi 
Jinja2 
jsonschema 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab-pygments 
lxml 
MarkupSafe 
matplotlib-inline 
mistune 
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numpy==1.26.0
openpyxl==3.1.2
packaging 
pandas==2.1.1
pandocfilters 
parso 
pickleshare 
platformdirs 
prometheus-client 
prompt-toolkit 
proto-plus==1.22.3
protobuf==4.24.3
psutil 
pure-eval 
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser 
Pygments 
PyMuPDF==1.23.4
PyMuPDFb==1.23.3
PyPDF2==3.0.1
pyrsistent 
python-dateutil 
python-magic==0.4.27
python-magic-bin==0.4.14
pytz==2023.3.post1
pywin32==305.1
pywinpty 
pyzmq 
requests==2.31.0
rsa==4.9
Send2Trash 
six 
sniffio 
soupsieve 
stack-data 
terminado 
tinycss2 
tornado 
traitlets 
typing_extensions 
tzdata==2023.3
urllib3==2.0.5
wcwidth 
webencodings==0.5.1
websocket-client 
XlsxWriter==3.1.5
SQLAlchemy
bcrypt